{
  "presets": [
    ["env", {
      // "modules": "commonjs",
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 10"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime","transform-vue-jsx"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
