@import "../common/var";
@mixin button-plain($color) {
  @if ($color == $--color-primary) {
    color: $--color-primary;
    background: #e7ebff;
    border-color: #a3aee7;
  } @else {
    color: $color;
    background: mix($--color-white, $color, 90%);
    border-color: mix($--color-white, $color, 60%);
  }
  &:focus {
    @if ($color == $--color-primary) {
      color: $--color-primary;
      background: #e7ebff;
      border-color: #a3aee7;
    } @else {
      color: $color;
      background: mix($--color-white, $color, 90%);
      border-color: mix($--color-white, $color, 60%);
    }
  }
  &:hover {
    @if ($color == $--color-primary) {
      color: $--color-white;
      background: $--color-primary;
      border-color: $--color-primary;
    } @else {
      background: $color;
      border-color: $color;
      color: $--color-white;
    }
  }

  &:active {

    @if ($color == $--color-primary) {
      background: $--color-active;
      border-color: $--color-active;
    } @else {
      background: mix($--color-black, $color, $--button-active-shade-percent);
      border-color: mix($--color-black, $color, $--button-active-shade-percent);

    }
    color: $--color-white;
    outline: none;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-text-secondary;
      background-color: $--background-color-button;
      border-color: $--border-color-base;
    }
  }
}

@mixin button-variant($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:focus {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
  }
  &:hover{
    @if ($background-color == $--color-primary) {
      //background: #8597f5;
      background: #526df6;
      //border-color: #8597f5;
      border-color: #526df6;
    } @else {
      background: mix($--color-white, $background-color, $--button-hover-tint-percent);
      border-color: mix($--color-white, $border-color, $--button-hover-tint-percent);
    }
    color: $color;
  }

  &:active {
    @if ($background-color == $--color-primary) {
      background: $--color-active;
      border-color: $--color-active;
    } @else {
      background: mix($--color-black, $background-color, $--button-active-shade-percent);
      border-color: mix($--color-black, $border-color, $--button-active-shade-percent);
    }
    color: $color;
    outline: none;
  }

  &.is-active {
    background: mix($--color-black, $background-color, $--button-active-shade-percent);
    border-color: mix($--color-black, $border-color, $--button-active-shade-percent);
    color: $color;
  }

  &.is-disabled {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $--color-text-secondary;
      background-color: $--background-color-button;
      border-color: $--border-color-base;
    }
  }

  &.is-plain {
    @include button-plain($background-color);
  }
}

@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
  &.is-round {
    padding: $padding-vertical $padding-horizontal;
  }
}
